.sidebar {
  width: 20%;
  float: right;
  background-color: yellow;
  color: purple;
}

img {
  float:left;
  width: 400px;
}

.info {
  width: 800px;
}

.right {
  float:center;
  width: 400px;
}

.fun {
  text-align: left;
  width: 400px;
}

body {
  background-color: purple;
  color: white;
}

h1 {
  color: yellow;
}
