.sidebar {
  width: 20%;
  float: right;
  background-color: yellow;
  color: purple;
  border: 10px dashed purple;
  padding: 15px;
  margin: 12px;
  text-align: center;
}

img {
  float:left;
  width: 400px;
  padding: 15px;
}

.info {
  width: 800px;
}

.right {
  float:center;
  width: 400px;
  padding: 15px;
}

.fun {
  text-align: left;
  width: 400px;
}

body {
  background-color: purple;
  color: white;
}

h1 {
  color: yellow;
}
